@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  padding: 48px 24px;
}
.details {
  margin-top: 120px;
}
.bless {
  text-align: left;
  font-size: 12px;
  font-style: italic;
}
body {
  background-color: #f3efec;
}
.image_container {
  position: inherit;
  display: flex;
  padding-right: 45px;
}
.details .image_container .image {
  padding-right: 0;
  width: 50%;
  height: auto;
  padding: 0 16px;
}
.detalis_content {
  position: absolute;
  left: 60%;
}
.subtitle {
  font-size: 10px;
  text-transform: none;
  font-style: italic;
}
.detail {
  font-size: 12px;
}
.full_names {
  display: flex;
  flex-direction: column;
}
.full_names {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.full_name {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-transform: uppercase;
}
.names {
  text-align: center;
  font-size: 48px;
  letter-spacing: 2.4px;
  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;
  width: 100vw;

  line-height: 1;
}
.first_person {
  white-space: nowrap;
}
.second_person {
  padding-left: 80px;
}
.info {
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  letter-spacing: 2.4px;
}

.message {
  text-transform: uppercase;
  text-align: left;
}
.details .message {
  text-transform: uppercase;
  text-align: right;
}
.date {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  padding: 16px;
  font-size: 12px;
  font-style: italic;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  justify-content: space-between;
}
.date_line {
  width: 0.8px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308);
}
.line2 {
  height: 0.8px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.308);
}
.date_section {
  margin-top: 0;
}
.image {
  /*filter: grayscale(100%);*/
}
.join_us {
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-align: left;
  display: flex;
  gap: 8px;
  align-items: center;
}
.address {
  font-size: 10px;
  letter-spacing: 0.2px;
  text-align: left;
}
.date_squares {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.date_item {
  display: flex;
  flex-direction: column;
}
.date_numbers {
  display: flex;
  gap: 8px;
}
.date_number {
  padding: 8px;
  background-color: rgba(128, 128, 128, 0.155);
}
.link {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
}
.coming_soon {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.484);
}
.aa {
  color: black;
}
.countdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
}